form {
  max-width: 440px;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #fff;
}

@media (min-width: 768px) {
  form {
    top: calc(50% - 107px);
  }
}

@media (max-width: 768px) {
  form {
    height: 100%;
    overflow: auto;
    border-radius: 0;
  }
}

.form-group {
  margin-top: 15px;
}

.header {
  margin-top: 10px;
}

.btn {
  margin-bottom: 15px;
}
