<div class="page-without-navbar">
  <div class="col-12">
    <h4 class="title">Пользователи, ожидающие подтверждения регистрации</h4>
    <div class="row">
      <div *ngFor="let user of users; let i = index"
           class="col-sm-4 col-12">
        <app-user [user]="user"></app-user>
        <img src="../../../../assets/images/registration.png"
             class="delete-img"
             (click)="openRegisterDialog(i)"
             title="Зарегистрировать">
        <img src="../../../../assets/images/reject.png"
             class="delete-img"
             (click)="openRejectRegisterDialog(i)"
             title="Отклонить">
      </div>
      <h4 *ngIf="users?.length === 0"
          class="no-content">Нет пользователей</h4>
    </div>
  </div>
</div>
<app-register-user-dialog [(visible)]="showRegisterDialog"
                          [user]="user"
                          (successRegisterUser)="registerUser()"></app-register-user-dialog>
<app-reject-registration-dialog [(visible)]="showRejectRegisterDialog"
                                [user]="user"
                                (reject)="rejectRegisterUser()"></app-reject-registration-dialog>
