<div class="categories-list">
  <h4 class="important-text">Категории</h4>
  <form #checkBoxForm="ngForm">
    <div *ngFor="let category of categories" class="form-group form-check">
      <input type="checkbox"
             class="form-check-input"
             [name]="category.id"
             id="{{category.id}}"
             (change)="filterByCategories(checkBoxForm)"
             ngModel>
      <label class="form-check-label"
             for="{{category.id}}">{{category.name}}
      </label>
    </div>
  </form>
</div>
