<div class="page-without-navbar">
  <div class="row add-category-container">
    <input type="text"
           class="form-control add-input"
           placeholder="Название категории"
           #categoryName>
    <button class="btn btn-primary add-button"
            (click)="addCategory(categoryName)">Добавить</button>
  </div>
  <span class="important-text">Список категорий:</span>
  <div infiniteScroll
       [infiniteScrollDistance]="0.1"
       [infiniteScrollThrottle]="200"
       (scrolled)="onScroll()">
    <div *ngFor="let cateory of categories">
      <div>{{cateory?.name}}</div>
    </div>
    <app-preloader [class.pre-loader-container]="categories.length===0"
                   *ngIf="!lastPage"></app-preloader>
  </div>
</div>
