.page-without-navbar {
  padding-top: 45px;
}

.add-category-container {
  position: fixed;
  top: 60px;
}

.add-input {
  width: 250px;
}

.add-button {
  margin-left: 15px;
  width: 100px;
}

.categories-list {
  margin-top: 50px;
}
