<div class="col-sm-12 page-without-navbar">
  <form #myForm="ngForm" (ngSubmit)="addCategory()">
    <div class="row add-category-container">
      <input class="form-control add-input"
             type="text"
             placeholder="Название категории"
             ngModel
             name="categoryName"
             #categoryName="ngModel">
      <button type="submit"
              class="btn btn-primary add-button">Добавить
      </button>
    </div>
  </form>
  <div class="categories-list">
    <span class="important-text">Список категорий:</span>
    <div *ngFor="let cateory of categories">
      <div>{{cateory?.name}}</div>
    </div>
  </div>
</div>
