<div class="page-without-navbar">
  <form #myForm="ngForm" (ngSubmit)="addCategory()">
    <div class="row add-category-container">
      <input class="form-control add-input"
             type="text"
             placeholder="Название категории"
             ngModel
             name="categoryName"
             #categoryName="ngModel">
      <button type="submit"
              class="btn btn-primary add-button">Добавить
      </button>
    </div>
  </form>
  <span class="important-text">Список категорий:</span>
  <div>
    <div *ngFor="let cateory of categories">
      <div>{{cateory?.name}}</div>
    </div>
    <!--<app-preloader [class.pre-loader-container]="categories.length===0"-->
    <!--*ngIf="!lastPage"></app-preloader>-->
  </div>
</div>
