<div class="row page-without-navbar">
  <div class="col-12 col-md-3">
    <div class="filters-list">
      <div *ngIf="routeBack"
           class="arrow-back-container hover-element"
           routerLink="{{routeBack}}">
        <img class="arrow-back" src="assets/images/arrow-back.png"/>
        <span class="arrow-back-text">{{messageBack}}</span>
      </div>
      <app-categories-list (categoriesOut)="filterByCategories($event)"
                           [categoriesListState]="pageState"></app-categories-list>
      <app-file-type-list (typesOut)="filterByTypes($event)"
                          [fileTypesListState]="pageState"></app-file-type-list>
    </div>
  </div>
  <div class="col 12 col-md-9 detail-col">
    <div class="col-12 col-md-12 search-container">
      <app-search-field [pageName]="headerMaterials"
                        [searchState]="pageState"
                        (out)="termMaterial$.next($event)"></app-search-field>
    </div>
    <div #materialsList
         class="col 12 col-md-12 main-content-container detail-col"
         infiniteScroll
         [infiniteScrollDistance]="0.1"
         [infiniteScrollThrottle]="200"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <div class="row materials-list">
        <div class="col-12">
          <div class="row folders-container">
            <app-folders [userId]="userId"
                         (nestedMaterials)="getNestedMaterials($event)"
                         class="col-12"></app-folders>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let material of materials"
               class="col-12 col-lg-6 col-xl-4">
            <app-material [material]="material"
                          (clickOnBook)="clickOnBook()"></app-material>
          </div>
        </div>
        <h4 *ngIf="materials?.length === 0&&routeBack"
            class="no-content">У этого пользователя нет материалов</h4>
        <h4 *ngIf="materials?.length === 0&&!routeBack"
            class="no-content">У вас нет материалов</h4>
      </div>
    </div>
  </div>
</div>
<app-add-material-button *ngIf="getShowButton()"
                         routerLink="add_material"></app-add-material-button>
