<form #myForm="ngForm" (ngSubmit)="submitForm()">
  <h4 class="text-center header">Регистрация</h4>
  <div class="col-12 form-group">
    <label class="col-form-label required-area-dialog"
           for="login">Логин:</label>
    <input type="text"
           id="login"
           placeholder="Введите логин"
           class="form-control"
           [class.is-invalid]="!loginValid||(username.invalid && username.touched)"
           [class.is-valid]="loginValid && username.touched"
           (input)="login$.next($event.target.value)"
           ngModel
           name="username"
           #username="ngModel"
           required>
    <span *ngIf="!loginValid" class="invalid-feedback">
      Такой логин уже существует
    </span>
  </div>
  <div class="col-12 form-group">
    <label class="col-form-label required-area-dialog"
           for="password">Пароль:</label>
    <input type="password"
           id="password"
           placeholder="Введите пароль"
           class="form-control"
           [class.is-invalid]="!passwordValid||(password.invalid && password.touched)"
           [class.is-valid]="passwordValid && password.touched"
           (input)="saveFirstPassword($event.target.value)"
           ngModel
           name="password"
           #password="ngModel"
           required>
  </div>
  <div class="form-group col-12">
    <label class="col-form-label required-area-dialog"
           for="checkPassword">Подтверждение пароля:</label>
    <input type="password"
           id="checkPassword"
           placeholder="Подтвердите пароль"
           class="form-control"
           [class.is-invalid]="!passwordValid"
           [class.is-valid]="passwordValid && checkPassword.touched"
           (input)="checkPasswords($event.target.value)"
           ngModel
           name="checkPassword"
           #checkPassword="ngModel"
           required>
    <span *ngIf="!passwordValid" class="invalid-feedback">
      Подтверждение не совпадает с паролем
    </span>
  </div>
  <div class="col-12 form-group">
    <label class="col-form-label required-area-dialog"
           for="email">E-mail:</label>
    <input type="email"
           id="email"
           placeholder="Введите E-mail"
           class="form-control"
           [class.is-invalid]="!emailValid||(email.invalid && email.touched)"
           [class.is-valid]="emailValid && email.touched"
           (input)="email$.next($event.target.value)"
           ngModel
           name="email"
           #email="ngModel"
           email>
    <span *ngIf="!emailValid" class="invalid-feedback">
      Такой E-mail уже существует
    </span>
    <span *ngIf="email.invalid && email.touched" class="invalid-feedback">
      Введите корректный E-mail
    </span>
  </div>
  <div class="form-row">
    <div class="col-6 form-group name-group first-name">
      <label class="col-form-label required-area-dialog"
             for="firstName">Имя:</label>
      <input type="text"
             id="firstName"
             placeholder="Введите имя"
             class="form-control"
             [class.is-invalid]="firstName.invalid && firstName.touched"
             [class.is-valid]="firstName.valid && firstName.touched"
             ngModel
             name="firstName"
             #firstName="ngModel"
             required>
    </div>
    <div class="col-6 form-group name-group last-name">
      <label class="col-form-label required-area-dialog"
             for="lastName">Фамилия:</label>
      <input type="text"
             id="lastName"
             placeholder="Введите фамлию"
             class="form-control"
             [class.is-invalid]="lastName.invalid && lastName.touched"
             [class.is-valid]="lastName.valid && lastName.touched"
             ngModel
             name="lastName"
             #lastName="ngModel"
             required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-right button-container">
      <button type="submit"
              [disabled]="!myForm.valid||!passwordValid||!loginValid||!emailValid"
              class="btn btn-primary pull-right">Зарегистрироваться
      </button>
      <button routerLink="/login"
              class="btn btn-primary pull-right">Авторизация
      </button>
    </div>
  </div>
</form>
