.material-detail-page {
  height: calc(100vh - 136px);
  margin-top: 56px;
  overflow-y: auto;
  overflow-x: hidden;
}

.deleted-material {
  color: red;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.folder-img {
  height: 20px;
  width: 25px;
  margin: 3px 5px 0;
}

.btn {
  padding: 0 10px;
  margin-top: 5px;
}

.comments-container {
  margin-top: 20px;
}

.delete-img {
  height: 15px;
  width: 15px;
  margin: 5px 0 0 10px;
}

.material-comment-content {
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: #e8e8e8;
  border: 1px solid #c4c4c4;
}

