.page-without-navbar {
  padding-top: 56px;
}

.categories-container {
  height: calc(100vh - 145px);
  padding-left: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.category-container {
  display: inline-block;
}

.edit-category {
  opacity: 0;
}

.category-container:hover .edit-category {
  opacity: 1;
}
