<div class="col-sm-12 page-without-navbar detail-col">
  <div class="col-sm-7">
    <app-search-field [pageName]="'Все категории'"
                      (out)="termCategories$.next($event)"></app-search-field>
  </div>
  <div class="col 12 detail-col categories-container">
    <div *ngFor="let cateory of categories; let i = index">
      <div class="row category-container">
        <span>{{cateory?.name}}</span>
        <img *ngIf="getUserRole() !== 1"
             src="../../../assets/images/edit.png"
             (click)="openEditCategoryDialog(i)"
             class="icon-img">
      </div>
    </div>
    <h4 *ngIf="!searchText&&categories?.length === 0"
        class="no-content">Нет категорий</h4>
    <h4 *ngIf="searchText&&categories.length === 0"
        class="no-content">По вашему запросу ничего не найдено</h4>
  </div>
  <app-add-category [(visible)]="showAddCategoryDialog"
                    (newCategory)="addNewCategory($event)"></app-add-category>
  <app-edit-category-dialog [(visible)]="showEditCategoryDialog"
                            [category]="editCategory"
                            (newCategory)="successEditCategory($event)"></app-edit-category-dialog>
</div>
<app-add-material-button *ngIf="getUserRole() !== 1"
                         (click)="openAddCategoryDialog()"></app-add-material-button>
