<div class="row page-without-navbar">
  <div class="col-sm-12">
    <div>{{user?.username}}</div>
    <div>{{user?.last_name}} {{user?.first_name}}</div>
    <div>{{user?.email}}</div>
    <div>{{user?.role | userRole}}</div>
    <div class="important-text">Мои книги:</div>
    <div *ngFor="let book of user?.books">
      <app-book [book]="book"></app-book>
    </div>
    <div [class.pre-loader-container]="!user"
         *ngIf="!lastPage">
      <app-preloader></app-preloader>
    </div>
  </div>
</div>
