<div class="row page-without-navbar">
  <div class="col-12 col-md-3">
    <div class="filters-list">
      <app-user-role-list (rolesOut)="filterByRoles($event)"></app-user-role-list>
    </div>
  </div>
  <div class="col 12 col-md-9 detail-col">
    <div class="col-12 col-md-12 search-container">
      <app-search-field [pageName]="'Все пользователи'"
                        [searchState]="USERS"
                        (out)="termUsers$.next($event)"></app-search-field>
    </div>
    <div #usersList
         class="col 12 col-md-12 main-content-container detail-col"
         infiniteScroll
         [infiniteScrollDistance]="0.1"
         [infiniteScrollThrottle]="200"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <div class="row">
        <div *ngFor="let user of users; let i = index"
             class="col-sm-6 col-12">
          <app-user [user]="user"
                    (clickOnUser)="clickOnUser($event)"></app-user>
          <button *ngIf="user?.role !== 4"
                  type="button"
                  class="btn btn-secondary"
                  (click)="openBlockedDialog(i)">Заблокировать пользователя
          </button>
        </div>
        <h4 *ngIf="!searchText&&!searchByRoles&&users?.length === 0"
            class="no-content">Нет пользователей</h4>
        <h4 *ngIf="(searchText||searchByRoles)&&users?.length === 0"
            class="no-content">По вашему запросу ничего не найдено</h4>
      </div>
      <app-user-block-dialog [(visible)]="showUserBlockDialog"
                             [user]="blockUser"
                             (blocked)="userBlocked()"></app-user-block-dialog>
    </div>
  </div>
</div>
