<div class="page-without-navbar">
  <div class="col-12 col-md-12 search-container">
    <app-search-field [pageName]="'Все заблокированные пользователи'"
                      (out)="termUsers$.next($event)"></app-search-field>
  </div>
  <div #blockedUsersList
       class="col 12 col-md-12 main-content-container detail-col"
       infiniteScroll
       [infiniteScrollDistance]="0.1"
       [infiniteScrollThrottle]="200"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div class="row">
      <div *ngFor="let user of blockedUsers; let i = index"
           class="col-sm-4 col-12">
        <app-user [user]="user"></app-user>
        <button type="button"
                class="btn btn-secondary"
                (click)="openUnblockedDialog(i)">Разблокировать пользователя
        </button>
      </div>
      <h4 *ngIf="!searchText&&blockedUsers?.length === 0"
          class="no-content">Нет заблокированных пользователей</h4>
      <h4 *ngIf="searchText&&blockedUsers?.length === 0"
          class="no-content">По вашему запросу ничего не найдено</h4>
    </div>
  </div>
  <app-user-unblock-dialog [(visible)]="showUserUnblockDialog"
                           [user]="unblockUser"
                           (blocked)="userUnblocked()"></app-user-unblock-dialog>
</div>
