<div class="page-without-navbar">
  <div class="col-12">
    <h4>Пользователи, ожидающие подтверждения регистрации</h4>
    <div class="row">
      <div *ngFor="let user of users; let i = index"
           class="col-sm-4 col-12">
        <app-user [user]="user"></app-user>
        <button type="button"
                class="btn btn-secondary"
                (click)="openRegisterDialog(i)">Разрешить регистрацию
        </button>
      </div>
    </div>
    <div *ngIf="users?.length === 0">Новых пользователей больше нет</div>
  </div>
</div>
<app-register-user-dialog [(visible)]="showRegisterDialog"
                          [user]="user"
                          (successRegisterUser)="registerUser()"></app-register-user-dialog>
