<div routerLink="{{material.id}}"
     (click)="materialClick()"
     class="col-sm-12 hover-element book-container">
  <div class="img-container">
    <img class="book-img" src="../../../../assets/images/{{getImage()}}">
    <div class="book-date">{{material?.auto_date | dateFormat}}</div>
  </div>
  <div class="book-info">
    <h5>{{material?.name}}</h5>
    <div class="book-author">Автор: {{material?.author}}</div>
    <div>Категории:
      <span *ngFor="let category of material?.categories">
          <span class="book-category">{{category.name}}</span>
        </span>
    </div>
  </div>
</div>
