.book-container {
  border-radius: 3px;
  background: #F4E9CB;
  position: relative;
  border: 2px solid #fff;
  background-size: cover;
  height: 130px;
  padding-right: 0;
  margin-bottom: 20px;
}

.book-container:hover {
  background-color: #F0E0B6;
}

.book-info {
  height: 120px;
  overflow: hidden;
  margin-top: 5px;
}

.book-author {
  font-size: 18px;
}

.book-category {
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.img-container {
  height: 130px;
  float: left;
}

.book-img {
  height: 85px;
  margin-top: 12px;
  margin-right: 5px;
}

.book-date {
  text-align: center;
  color: grey;
  margin-top: 5px;
  font-size: 14px;
}

@media(min-width: 1200px) and (max-width: 1500px){
  .book-container {
    height: 150px;
  }
  .book-info {
    height: 140px;
  }

}
