<div class="col-12">
  <div class="path-container">
    <app-folder-path-menu [foldersPath]="foldersPath"
                          [folderParent]="folderParent"
                          (rootFolder)="getFolders()"
                          (nextFolder)="getNextFolder($event)"></app-folder-path-menu>
    <button *ngIf="getShowButton()"
            type="button"
            class="btn btn-primary"
            title="Новая папка"
            (click)="openAddFolderDialog()">
      <img src="../../../assets/images/new-folder.png"
           class="new-folder-img">
    </button>
  </div>
  <div class="row">
    <div *ngFor="let folder of folders; let i = index"
         class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <div (dblclick)="openNestedFolders(folder.id)"
           class="folder-container">
        <img class="folder-img" src="../../../assets/images/folder.png"/>
        <div class="folder-name">{{folder.name}}
          <img *ngIf="getShowButton()"
               src="../../../assets/images/edit.png"
               class="icon-img"
               title="Редактировать"
               (click)="openEditFolderDialog(i)">
          <img *ngIf="getShowButton()"
               src="../../../assets/images/remove.png"
               class="icon-img remove-icon-img"
               title="Удалить"
               (click)="openDeleteDialog(i)">
        </div>
      </div>
    </div>
  </div>
  <app-add-new-folder-dialog [(visible)]="showAddFolderDialog"
                             [folderParent]="folderParent"
                             (newFolder)="addNewFolder($event)"></app-add-new-folder-dialog>
  <app-edit-folder-dialog [(visible)]="showEditFolderDialog"
                          [folder]="editFolder"
                          (newFolder)="successEditFolder($event)"></app-edit-folder-dialog>
  <app-delete-dialog [(visible)]="showDeleteDialog"
                     [deleteObj]="deleteObj"
                     (remove)="removeFolder()"></app-delete-dialog>
</div>
