.path-container {
  height: 25px;
  margin-bottom: 20px;
}

.btn-success {
  float: right;
}

.folder-container:hover .folder-img {
  transform: scale(1.1, 1.1);
}

.folder-img {
  display:block;
  margin:auto;
}

.folder-name {
  text-align: center;
}
