.path-container {
  height: 25px;
  margin-bottom: 20px;
}

.selected-element {
  color: black;
  font-weight: bold;
}

.path-element {
  cursor: pointer;
  color: blue;
}

.path-element:hover {
  border-bottom: 1px solid black;
}

.btn-success {
  float: right;
}

.folder-container:hover .folder-img {
  transform: scale(1.1, 1.1);
}

.folder-img {
  display:block;
  margin:auto;
}

.folder-name {
  text-align: center;
}
