.form {
  margin: auto;
  max-width: 620px;
}

.form-check {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

.custom-file-input {
  margin: 20px 0;
}

.categories-name {
  padding: calc(.375rem + 1px) 0;
}

.custom-file-label {
  margin: 20px 15px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: 'Просмотр';
}

.delete-img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.add-img {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.add-img:hover {
  transform: scale(1.1, 1.1);
}


.btn-add-file {
  margin: 50px 0;
}
