.user-card {
  background-color: white;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  overflow: hidden;
}

.user-card:hover {
  box-shadow: 0 0 5px 2px;
}

.image-container {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.user-image {
  height: 100px;
}

.user-info-container {
  overflow: hidden;
  margin-top: 10px;
}
