<div *ngIf="book" class="page-without-navbar">
  <button routerLink="/system/books">Назад</button>
  <div>Название: {{book?.name}}</div>
  <div>Автор: {{book?.author}}</div>
  <div>Дата: {{book?.auto_date | dateFormat}}</div>
  <div>Книгу добавил: {{book?.owner?.username}}</div>
  <div *ngIf="book.deleted">Книга была удалена</div>
  <div class="important-text">Категории:</div>
  <div *ngFor="let category of book?.categories">
    <div>{{category.name}}</div>
  </div>
  <button class="btn btn-primary add-button"
          (click)="toElectedButton()">{{electedMessage}}
  </button>
  <button class="btn btn-primary add-button">
    <a href="{{book?.file}}"
       target="_blank">Скачать</a>
  </button>
  <button *ngIf="deleteButton&&!book.deleted"
          class="btn btn-primary add-button"
          (click)="openDeleteDialog()">Удалить
  </button>
  <app-delete-dialog [(visible)]="showDeleteDialog"
                     (remove)="removeBook()"></app-delete-dialog>
</div>
<div *ngIf="!book" class="pre-loader-container">
  <app-preloader></app-preloader>
</div>
