.form {
  margin: auto;
  max-width: 620px;
}

.custom-file-input {
  margin: 20px 0;
}

.custom-file-label {
  margin: 20px 15px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: 'Просмотр';
}

.btn {
  margin: 50px 0;
}
