<div class="page-without-navbar">
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
    <div>
      <label>Автор:</label>
      <input type="text"
             ngModel
             name="author"
             #author="ngModel"
             required>
    </div>
    <div>
      <label>Название:</label>
      <input type="text"
             ngModel
             name="bookName"
             #bookName="ngModel"
             required>
    </div>
    <div *ngFor="let list of categoriesVisibleList; let i = index">
      <label>Категория:</label>
      <select [value]="list"
              (input)="changeCategory($event.target.value, i)">
        <option *ngFor="let category of categories"
                value="{{category.id}}">
          {{category.name}}
        </option>
      </select>
    </div>
    <div (click)="addCategory()">Добавить еще категорию</div>
    <div><input type="file"
                ngModel
                name="file"
                #file="ngModel"
                (change)="changeFile($event)"
                required>
    </div>
    <button type="submit"
            class="btn btn-primary btn-lg">Добавить книгу
    </button>
  </form>
</div>
