<div class="row page-without-navbar">
  <div class="col-12 col-md-3">
    <div class="filters-list">
      <app-categories-list (categoriesOut)="filterByCategories($event)"
                           [categoriesListState]="pageState"></app-categories-list>
      <app-file-type-list (typesOut)="filterByTypes($event)"
                          [fileTypesListState]="pageState"></app-file-type-list>
    </div>
  </div>
  <div class="col 12 col-md-9 detail-col">
    <div class="col-12 col-md-12 search-container">
      <app-search-field [pageName]="'Все книги'"
                        [searchState]="pageState"
                        (out)="termMaterial$.next($event)"></app-search-field>
    </div>
    <div #materialsList
         class="col 12 col-md-12 main-content-container detail-col"
         infiniteScroll
         [infiniteScrollDistance]="0.1"
         [infiniteScrollThrottle]="200"
         [scrollWindow]="isPhone"
         (scrolled)="onScroll()">
      <div class="row materials-list">
        <div *ngFor="let material of materials" class="col-12 col-sm-6">
          <app-material [material]="material"
                        (clickOnBook)="clickOnMaterial()"></app-material>
        </div>
        <h4 *ngIf="!searchText&&!searchCategories&&!searchFileTypes&&materials?.length === 0"
            class="no-content">Нет материалов</h4>
        <h4 *ngIf="(searchText||searchCategories||searchFileTypes)&&materials?.length === 0"
            class="no-content">По вашему запросу ничего не найдено</h4>
      </div>
      <div [class.pre-loader-container]="materials.length===0"
           *ngIf="!lastPage">
        <app-preloader></app-preloader>
      </div>
    </div>
  </div>
</div>
<app-add-material-button routerLink="add_material"></app-add-material-button>
