@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.row {
  margin: 0;
  padding: 0;
}

.detail-col {
  padding: 0;
}

.hover-element {
  cursor: pointer;
}

.page-without-navbar {
  padding-top: 56px;
  min-height: 100vh;
}

.important-text {
  color: red;
}

.pre-loader-container {
  margin-top: calc(50vh - 136px);
}

.overlay-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1031;
}

.arrow-back-container {
  height: 25px;
  display: inline-block;
}

.arrow-back {
  height: 25px;
  width: 25px;
}

.arrow-back-text {
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
}

.arrow-back-container:hover img {
  transform: scale(1.2, 1.2);
}

.arrow-back-container:focus {
  outline: none;
}
