@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.row {
  margin: 0;
  padding: 0;
}

.hover-element {
  cursor: pointer;
}

.page-without-navbar {
  margin-top: 56px;
  padding: 0 15px;
}

.important-text {
  color: red;
}
