.app-page {
  background: url("../../assets/images/background.png");
}

.dropdown:focus .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #007bff!important;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  background-color: transparent;
}

.active-link {
  background-color: blue !important;
}

.nav-phone-button {
  display: none;
}

@media (max-width: 768px) {

  .nav-phone-button {
    max-height: 40px;
    max-width: 40px;
    display: block;
  }

  .nav-phone-button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }

  ul {
    display: none;
  }

}

.menu-class {
  display: block!important;
}
