<div #appPage class="app-page">
  <nav class="col-sm-12 navbar fixed-top navbar-dark bg-primary">
    <span class="col-sm-12">
      <img src="../../assets/images/phone-menu.png"
           class="nav-phone-button"
           (click)="phoneMenu()">
    </span>
    <ul #navList class="col-sm-12 nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="user_info"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Мой профиль</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="my_materials"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Мои книги</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="materials"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Все книги</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="users"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Пользователи</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="add_category"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Категории</a>
      </li>
      <li *ngIf="getUserRole() === 4" class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="admin_registration"
           (click)="clickMenuElement()"
           routerLinkActive="active-link">Админка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/login"
           (click)="logOut()"
           routerLinkActive="active-link">Выйти</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
