<div class="app-page">
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <div class="nav-phone-button" (click)="phoneMenu()">Телефон</div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="user_info"
           routerLinkActive="active-link">Мой профиль</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="add_book"
           routerLinkActive="active-link">Добавить книгу</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="books"
           routerLinkActive="active-link">Все книги</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active"
           routerLink="add_category"
           routerLinkActive="active-link">Добавить категорию</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/login"
           (click)="logOut()"
           routerLinkActive="active-link">Выйти</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
