/*.page-without-navbar {*/
  /*margin-top: 80px;*/
/*}*/

.search-container {
  height: 45px;
  max-width: 600px;
  background-color: white;
  position: fixed;
  top: 56px;
}

.input-search {
  margin-top: 5px;
}

.categories-list {
  height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.books-list {
  height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}
