<div class="row page-without-navbar">
  <div class="col-sm-2">
    <div class="categories-list">
      <span class="important-text">Категории</span>
      <form #checkBoxForm="ngForm" (ngSubmit)="filterByCategories(checkBoxForm)">
        <div *ngFor="let category of categories">
          <input [name]="category.id"
                 type="checkbox"
                 ngModel>{{category.name}}
        </div>
        <button type="submit">Поиск</button>
      </form>
    </div>
  </div>
  <div class="col-sm-10 books-list"
       infiniteScroll
       [infiniteScrollDistance]="0.1"
       [infiniteScrollThrottle]="200"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div class="col-sm-12 search-container">
      <input type="text"
             placeholder="Поиск..."
             class="form-control input-search col-sm-7"
             (input)="termBook$.next($event.target.value)">
    </div>
    <div>
      <div *ngFor="let book of books">
        <app-book [book]="book"></app-book>
      </div>
      <app-preloader [class.pre-loader-container]="books.length===0"
                     *ngIf="!lastPage"></app-preloader>
    </div>
  </div>
</div>
