.page-without-navbar {
  padding-right: 0;
}

.search-container {
  height: 45px;
  max-width: 600px;
  position: fixed;
  top: 56px;
}

.input-search {
  margin-top: 5px;
}

.form-check {
  margin-bottom: 0;
}

.categories-list {
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid grey;
}

.books-container {
  margin-top: 45px;
  height: calc(100vh - 101px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .search-container {
    position: relative;
    top: 0;
  }
  .categories-list {
    height: 100%;
    overflow: auto;
  }
  .books-container {
    height: 100%;
    overflow-y: auto;
  }
}
