<div class="row page-without-navbar">
  <div class="col-12 col-md-3">
    <div class="categories-list">
      <span class="important-text">Категории</span>
      <form #checkBoxForm="ngForm">
        <div *ngFor="let category of categories">
          <input [name]="category.id"
                 (change)="filterByCategories(checkBoxForm)"
                 type="checkbox"
                 ngModel>{{category.name}}
        </div>
      </form>
    </div>
  </div>
  <div #materialsList
       class="col 12 col-md-9 books-container"
       infiniteScroll
       [infiniteScrollDistance]="0.1"
       [infiniteScrollThrottle]="200"
       [scrollWindow]="isPhone"
       (scrolled)="onScroll()">
    <div class="col-sm-12 search-container">
      <input type="text"
             placeholder="Поиск..."
             class="form-control input-search col-sm-7"
             (input)="termMaterial$.next($event.target.value)">
    </div>
    <div class="row books-list">
      <div *ngFor="let material of materials" class="col-12 col-sm-6">
        <app-material [material]="material"
                      (clickOnBook)="clickOnMaterial()"></app-material>
      </div>
    </div>
    <div [class.pre-loader-container]="materials.length===0"
         *ngIf="!lastPage">
      <app-preloader></app-preloader>
    </div>
  </div>
</div>
